= wrap_layout :layout do
  = partial "partials/nav"
  %section.blog
    %article.post.type-system-slab
      - if current_article.data.type
        %p.type= current_article.data.type
      %h1
        = link_to current_article.title, current_article
      %p.date
        = current_article.date.strftime('%b %e, %Y')
      = yield