!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{name:"description",content:data.site_info.description}
    %meta{name:"keywords",content:"software development, software engineering, engineering, design, consultancy, software consultancy, consulting, freelance, software developers, rails, d3, data visualization, data viz"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0" }
    %meta{name:"google-site-verification", content:"mGFqkZIpRsu-KTICkZB_Lk453ig5zwNKhB2WrqWtqTg"}

    / Use title if it's in the page YAML frontmatter
    %title= "#{current_page.data.title ? current_page.data.title + " | " : ''}Gray Bike"
    %link{href:'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Rubik:500', rel:'stylesheet', type:'text/css'}
    = stylesheet_link_tag "all"


    %script{src:"https://use.typekit.net/wqk5aml.js"}
    %script
      try{Typekit.load({ async: true });}catch(e){}

  %body{:class => page_classes}
    = partial "partials/nav"
    = yield
    = partial "partials/footer"

    = javascript_include_tag  "all"
    / Google Analytics
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51459213-1', 'graybike.co');
      ga('send', 'pageview');
