---
layout: layout
---
.dots-background
  %section.index
    %svg
    .spacing
      %h1.fade-in
        .light-bg Selected Projects
  / %h2.text-center.work-title.desktop
  /   / %div We work with companies of all sizes to
  /   / %div build digital products for the web.
  /   %div Here's a few selected projects.
  / %h2.text-center.work-title.tablet
  /   / %div We work with companies
  /   / %div of all sizes to build
  /   / %div digital products.
  /   %div Here's a few selected projects.

- data.work.projects.each_with_index do |project,index|
  .project{class: "#{index % 2 == 0 ? 'even' : 'odd' } #{project.client_class}"}
    %section.type-system-slab

      .project__description
        %h2= project.title
        %p= project.description
    %section
      .project__ctas
        - unless project.case_study.nil?
          %a{class: "button text-center #{project.client_class}", href: project.case_study, alt: project.title}
            .button__text READ THE CASE STUDY
        %a{class: "button text-center #{project.client_class}", href: project.site_link, alt: "Work"}
          .button__text VISIT SITE
        /   %a{class: "project__link #{project.client_class}", href: project.case_study, alt: project.title}
        /     READ THE CASE STUDY
        / %a{class: "project__link #{project.client_class}", href: project.site_link, alt: "Work"}
        /   VISIT SITE



= partial "partials/cta"
