.dots-background
  %section.text-center.hero-text
    %svg
    %h1.fade-in= data.site_info.description

.main-content.type-system-slab
  %section
    .about
      .bio
        %p
          We're a small collective of designers and developers helping our clients build and improve their software. All projects are led by our founder,
          = succeed '.' do
            %a{href:'https://twitter.com/ptrikutam'} Pavan Trikutam
        %p
          We have worked as a technical partner for organizations of all sizes. Usually this involves a combination of
          = succeed ',' do
            %a{href: '/work/cell-signaling-technology'} design
          = succeed ',' do
            %a{href: '/work/wootric'} code
          and
          = succeed '.' do
            %a{href: '/work/soma-water'} lots of collaboration
          We love being involved in a project from the design phase, but we're happy to jump in at any stage.

        %p
          If you'd like to find out more or work with us,
          %a{href: 'mailto:hello@graybike.co'} shoot us an email
          or call us directly at
          = succeed '.' do
            %a{href: 'tel:4153263397'} 415-326-3397
          Or, read a bit more about us below.

      .services-clients
        .services
          %p.subheading What we can do for you
          %ul
            %li Plan your next project
            %li Design & build a digital product
            %li Create a data visualization
        .clients
          %p.subheading SOME OF OUR CLIENTS
          %ul
            %li Soma Water
            %li Social Imprints
            %li Wootric
            %li Macy's & Bloomingdale's
            %li The Minerva Project
            %li Cell Signaling Technology
            %li Captains of Industry
            %li Hummings


  / %section.details.type-system-slab
  /   .details__column
  /     %h2 HOW WE WORK
  /     %p All projects are led by our founder, Pavan Trikutam. The team size for a project can be anywhere from 1 to 10 depending on the needs of the project.
  /   .details__section

= partial "partials/cta"
