---
title: Gray Bike | Software & Design Consulting
---

%article.landing
  .hero
    = partial "partials/nav"

    %section.type-system-slab.hero-text

      %h1.fade-up Gray Bike is a small software consultancy based in San Francisco, California. I use technology to help small businesses, nonprofits, and startups grow.
    

      .find-out-more.text-center.fade-in.fade-up-delay
        %a{href: "#services"}
          = image_tag 'icons/down-arrow-circle-outline.svg', alt: 'Find out more', class: 'outline'
          = image_tag 'icons/down-arrow-circle-filled.svg', alt: 'Find out more', class: 'filled'

  .main-content.type-system-slab
    %section.description
      %h2.text-center#services Here are some things I can do for you.

    %section.services
      .plan
        %h3 Plan
        %p
          Tell me about your project and I'll tell you exactly what it will take to build your project.
      .build
        %h3 Build
        %p
          I work with companies to develop their products and refine their tech strategy.
      .visualize
        %h3 Visualize
        %p
          I use design, research and engineering to analyze data and tell stories.

    %section.cta
      %p.text-center Interested in working together?
      .contact.text-center
        = image_tag "http://placehold.it/350x50", alt: "Soma Water Website"

    %section.work
      %h2.text-center#work Here is some of my work.
    %section.company-example.first
      .company-example__description
        %h3 Soma Water Website Redesign
        %p.date.company-example__service-used BUILD
        %p 
          I led the engineering efforts for a massive redesign for Soma's e-commerce website. Working closely with design and marketing,
          %span.emphasize we were able to increase sales by 40%
          in the first 3 months after launch.
          %a.read-more Read More &rsaquo;
      .company-example__image
        = image_tag "http://placehold.it/350x150", alt: "Soma Water Website"
    
    %section.company-example
      .company-example__image
        = image_tag "http://placehold.it/350x150", alt: "Visualizing Protein Pathways"
      .company-example__description
        %h3 Visualizing Protein Pathways
        %p.date.company-example__service-used VISUALIZE
        %p
          Lorizzle ipsizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle sit the bizzle, fo shizzle mah nizzle fo rizzle, mah home g-dizzle adipiscing cool. Nullam sapien velit, funky fresh hizzle, suscipizzle dawg, gravida you son of a bizzle, nizzle.
          %a.read-more Read More &rsaquo;

    %section.company-example
      .company-example__description
        %h3 Hummings
        %p.date.company-example__service-used DESIGN / BUILD
        %p
          Lorizzle ipsizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle sit the bizzle, fo shizzle mah nizzle fo rizzle, mah home g-dizzle adipiscing cool. Nullam sapien velit, funky fresh hizzle, suscipizzle dawg, gravida you son of a bizzle, nizzle.
          %a.read-more Read More &rsaquo;
      .company-example__image
        = image_tag "http://placehold.it/350x150", alt: "Visualizing Protein Pathways"

    